.form {
  margin-top: 30px;
}

.input {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: var(--list-background-color);
  height: 50px;
  border-radius: 5px;
  overflow: hidden;
}

.input input[type="text"] {
  background-color: var(--list-background-color);
  flex-grow: 1;
  color: var(--text-color);
  height: 90%;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 18px;
}

.input input[type="text"]::placeholder {
  color: var(--text-color-disable);
}

.input input[type="checkbox"] {
  border-radius: 50%;
}

.circle {
  height: 15px;
  width: 15px;
  border: 1px solid var(--border-color);
  border-radius: 50%;
  margin: 5px 15px;
}
