@import "../variables.module.css";

.todoItem {
  position: relative;
  display: flex;
  color: var(--text-color);
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: var(--list-background-color);
  height: 55px;
  border-bottom: 1px solid var(--border-color);
}

.todoItem:hover .deleteIcon {
  display: block;
}

.deleteIcon {
  display: none;
  margin: 20px;
  width: 15px;
  cursor: pointer;
}

.taskCheckbox {
  display: flex;
  cursor: pointer;
  align-items: center;
}

.checkbox {
  display: none;
}

.customCheckbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 15px;
  width: 15px;
  margin: 5px 15px;
  border-radius: 50%;
  padding: 2px;
  border: 1px solid var(--border-color);
}

.checkboxIcon {
  opacity: 0;
  width: 10px;
}

.todoText {
  margin: 0;
}

.checkbox:checked + .taskCheckbox .customCheckbox {
  background-image: linear-gradient(
    to bottom right,
    var(--gradient-from-color),
    var(--gradient-to-color)
  );
}

.checkbox:checked + .taskCheckbox .checkboxIcon {
  opacity: 1;
}

.checkbox:checked + .taskCheckbox .todoText {
  color: var(--text-color-disable);
  text-decoration: line-through;
}
