@import "../variables.module.css";

.todoFooter {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  background-color: var(--list-background-color);
  height: 50px;
  color: var(--text-color-light);
}

.todoFooter button {
  border: none;
  background: transparent;
  font-family: inherit;
  cursor: pointer;
  color: inherit;
}

.todoFooter button:not(.active):hover {
  color: var(--hover-color);
}

.todoFooter__status,
.todoFooter__clear {
  font-size: 14px;
}

.todoFooter__filter {
  display: flex;
  list-style: none;
  padding: 0;
}

.todoFooter__filter button {
  font-weight: 700;
}

.todoFooter__filter .active {
  color: var(--active-color);
}
