:root {
  --active-color: hsl(220, 98%, 61%);
  --body-background: hsl(0, 0%, 98%);
  --text-color: hsl(235, 19%, 35%);
  --text-color-light: hsl(236, 9%, 61%);
  --border-color: hsl(236, 33%, 92%);
  --list-background-color: #fff;
  --gradient-from-color: hsl(192, 100%, 67%);
  --gradient-to-color: hsl(280, 87%, 65%);
  --hover-color: hsl(235, 19%, 35%);
  --text-color-disable: hsl(233, 11%, 84%);
}
[data-theme="dark"] {
  --body-background: hsl(235, 21%, 11%);
  --text-color: hsl(234, 39%, 85%);
  --text-color-disable: hsl(233, 14%, 35%);
  --list-background-color: hsl(235, 24%, 19%);
  --hover-color: hsl(236, 33%, 92%);
  --border-color: hsl(237, 14%, 26%);
}
