.container {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.title {
  display: flex;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: center;
  background-image: url("./../../assets/images/bg-desktop-light.jpg");
  background-position: center;
  background-size: cover;
  height: 37vh;
}

[data-theme="dark"] .header {
  background-image: url("./../../assets/images/bg-desktop-dark.jpg");
}

.header h1 {
  text-transform: uppercase;
  color: #fff;
  margin: 0;
}

.header h1,
.header .icon {
  margin-top: 60px;
}

.icon {
  width: 25px;
  height: 25px;
  padding-bottom: 10px;
  cursor: pointer;
}

@media screen and (max-width: 415px) {
  .container {
    width: 90%;
  }

  .header {
    height: 33vh;
    background-image: url("./../../assets/images/bg-mobile-light.jpg");
  }

  [data-theme="dark"] .header {
    background-image: url("./../../assets/images/bg-mobile-dark.jpg");
  }
}
